
<div class="page-header">
  <h1>Add Your Dog</h1>
</div>
<%= render :partial => 'form' %> 

<% if "http://i.imgur.com/yLheDYM.png" == nil %>
  <img src="http://i.imgur.com/yLheDYM.png">
<% else %>
  <img src="http://www.thepuppyapi.com/puppy?format=src"> 
<% end %>