<h1>Create your dog's profile</h1>

<p><%#= form_for @dog, :html => {multipart => true} do |f| %>
    <%#= f.label :name %>
    <%#= f.text_field :name %>
  <%#= f.file_field :image %>
  <%#= f.submit %>
<%# end %>

<%= link_to('All Dog Parks', root_path) %></p>

