body {
  text-align: center;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #191970;
}

img {
  border: 3px solid grey;
}

a {
  color: #607B8B;
}

.navbar {
  .navbar-inner {
  background: #B0C4DE;
  }
}