<h1>Welcome to dogEdating!</h1><br />

  <img src='http://i.imgur.com/Bron7hs.jpg'><br /><br /><br />

  <p>Search <em>San Francisco Dog Parks</em> and track down that dog owner you've been pining over!</p><br />

 <% if !current_user %>
  <a class='btn' href='/signup'>Sign Up</a>
  <a class='btn' href='/signin'>Sign In</a>
 <% end %>

<% if current_user %>
  <a class='btn' href='/parks'>All Parks</a>
  <a class='btn' href='/dogs/new'>Add Your Dog</a><br /><br />
<% end %>