<h1>Welcome to dogEdating!</h1><br />

  <img src='http://i.imgur.com/Bron7hs.jpg'><br /><br /><br />

  <p>Search <em>San Francisco Dog Parks</em> and track down that dog owner you've been pining over!</p><br />

  <a class='btn' href='/signup'>Sign Up</a>
  <a class='btn' href='/signin'>Sign In</a>


